.cabecalho {
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.cabecalho__principal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
}

.cabecalho__principal--logo {
    margin-top: 8px;
}

.cabecalho__principal--lista {
    display: flex;
    margin-left: 50px;
}

.cabecalho__principal--item {
    font-size: 20px;
    margin-left: 50px;
}

.item-arrow {
    padding-left: 3px;
    padding-bottom: 2px;
}
.item__link {
    background-color: var(--background-padrao);
}


/* MENU DROPDOWN */

.item__menu-dropdown ul {
    display: none;
}

.item__menu-dropdown:hover ul {
    display: block;
}

.item__menu-dropdown ul {
    position: absolute;
    margin: 1em -2em;
    padding: 20px;
    box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.33);
    border-radius: 4px;
    background-color: var(--branco);
}

.item__menu-dropdown li{
    margin: 0.3em;
}

.item__menu-dropdown li, a {
    margin-bottom: 10px;
    background-color: var(--branco);
}

.item__menu-dropdown ul li img {
    margin-right: 10px;
}

.item__menu-dropdown2 ul {
    margin-left: 0.3em;
}

.item__link {
    background-color: var(--background-padrao);
}


/* MENU DROPDOWN */

.item__menu-dropdown ul {
    display: none;
}

.item__menu-dropdown:hover ul {
    display: block;
}

.item__menu-dropdown ul {
    position: absolute;
    margin: 1em -2em;
    padding: 20px;
    box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.33);
    border-radius: 4px;
    background-color: var(--branco);
}

.item__menu-dropdown li{
    margin: 0.3em;
}

.item__menu-dropdown li, a {
    margin-bottom: 10px;
    background-color: var(--branco);
}

.item__menu-dropdown ul li img {
    margin-right: 10px;
    width: 15px;
}

.item__menu-dropdown2 ul {
    margin-left: 0.3em;
}

/* LOGIN */

.cabecalho__login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecalho__login--lista {
    display: flex;
    margin-right: 100px;
}

.cabecalho__login--item {
    font-size: 20px;
    margin-left: 50px;
}

.item-login {
    padding-top: 15px;
}

.item-register {
    border: 1px solid var(--cinza);
    border-radius: 10px;
    padding: 15px;
}



