@import url(css/cabecalho.css);
@import url(css/principal.css);

:root {
    --preto: #000000;
    --branco: #FFFFFF;
    --cinza: #797676;
    --fonte-padrao: 'Poppins';
}

* {
    font-family: var(--fonte-padrao), sans-serif;;
    text-decoration: none;
    color: var(--cinza);
}